Diafora/
Report/
AirbnbProject/build/
AirbnbProject/.gradle/
AirbnbProject/.idea/
AirbnbProject/app/build/
ecommerce_rest/build/
/ecommerce_rest/dist/
.directory
AddFilesToGit.txt
AirbnbProject/local.properties
AirbnbProject/app/app.iml