Diafora/
AirbnbProject/build/
AirbnbProject/.gradle/
AirbnbProject/.idea/
AirbnbProject/app/build/
ecommerce_rest/build/
/ecommerce_rest/dist/
.directory
AddFilesToGit.txt
AirbnbProject/local.properties
AirbnbProject/app/app.iml
AirbnbProject/local.properties
ecommerce_rest/src/java/services/ImagesFacadeREST.java
AirbnbProject/local.properties
AirbnbProject/app/src/main/java/util/RestClient.java
*.iml
*.iml
*.idea/
*/target/
AirbnbProject/app/app.iml
AirbnbProject/app/src/main/java/util/RestClient.java
AirbnbProject/local.properties
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.xml
AirbnbProject/app/src/main/java/util/RestClient.java
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.properties
AirbnbProject/app/app.iml
AirbnbProject/local.properties
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/build-impl.xml
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/project.properties
AirbnbProject/local.properties
ecommerce_rest/web/images/img56450701368351372.jpg
AirbnbProject/app/app.iml
AirbnbProject/local.properties
ecommerce_rest/web/images/img1085664803931824014.jpg
ecommerce_rest/src/java/services/ImagesFacadeREST.java
AirbnbProject/app/src/main/java/util/RestClient.java
ecommerce_rest/src/java/services/ImagesFacadeREST.java
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/src/java/services/ImagesFacadeREST.java
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/private/private.xml
AirbnbProject/local.properties
AirbnbProject/app/src/main/res/layout/activity_profile.xml
AirbnbProject/app/src/main/java/util/RestClient.java
AirbnbProject/app/app.iml
AirbnbProject/app/src/main/res/layout/activity_profile.xml
AirbnbProject/local.properties
AirbnbProject/app/app.iml
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/project.properties
AirbnbProject/local.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/private/private.properties
AirbnbProject/app/app.iml
AirbnbProject/local.properties
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/nbproject/private/private.properties
AirbnbProject/local.properties
*.iml
AirbnbProject/app/src/main/java/util/RestClient.java
AirbnbProject/local.properties
ecommerce_rest/nbproject/private/private.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/src/java/services/ImagesFacadeREST.java
AirbnbProject/app/app.iml
AirbnbProject/app/src/main/java/util/RestClient.java
AirbnbProject/local.properties
AirbnbProject/app/src/main/java/util/RestClient.java
ecommerce_rest/nbproject/private/private.properties
AirbnbProject/app/app.iml
ecommerce_rest/nbproject/private/private.xml
ecommerce_rest/src/java/services/ImagesFacadeREST.java
ecommerce_rest/nbproject/project.properties
AirbnbProject/app/app.iml
AirbnbProject/app/src/main/java/util/RestClient.java
AirbnbProject/local.properties
ecommerce_rest/nbproject/project.properties
ecommerce_rest/nbproject/private/private.properties